# ------------------------------------------ #
#                App Config 
# ------------------------------------------ #
PORT=<number>
LOG_LEVEL=<string: "info" | "debug">
MICROSOFT_APP_ID=<string>
MICROSOFT_APP_PASSWORD=<string>
MICROSOFT_APP_TYPE=<string>
CONFIDENCE_THRESHHOLD=<number>
# ------------------------------------------ #
#             Chat Session Config 
# ------------------------------------------ #
SESSION_TYPE="memory"
OR
SESSION_TYPE="cache"
REDIS_HOST_NAME=<string>
REDIS_PORT=<string>
REDIS_ACCESS_KEY=<string>
REDIS_SSL_ENABLED=<string>
# ------------------------------------------ #
#             Remote Bot Config 
# ------------------------------------------ #
MONGO_URI=<string>
MONGO_DB=<string>
BOT_CONFIG_COLLECTION_NAME=<string>
MONGO_SSL=<string: "true" | "false">
MONGO_SSL_CERT_PATH=<string, e.g. "./mongo-ca-cert.pem">
# ------------------------------------------ #
#     Master Classifier Config (Optional) 
# ------------------------------------------ #
WATSON_ASSISTANT_NLU_ENABLED=<string: "true" | "false">
WATSON_ASSISTANT_VERSION=<string>
WATSON_ASSISTANT_SERVICE_URL=<string>
WATSON_ASSISTANT_BASE_LANGUAGE=<string>
WATSON_ASSISTANT_API_KEY=<string>
WATSON_ASSISTANT_ID=<string>
# ------------------------------------------ #
#                 Echo Bot
# ------------------------------------------ #
ECHO_BOT_ENABLED=<string: "true" | "false">
# ------------------------------------------ #
#               Azure Q&A Bot
# ------------------------------------------ #
AZURE_QnA_BOT_ENABLED=<string: "true" | "false">
AZURE_QnA_BOT_SKILLS=[<string>]
AZURE_QnA_BOT_SUBSCRIPTION_KEY=<string>
AZURE_QnA_BOT_AUTHORING_ENDPOINT=<string>
AZURE_QnA_BOT_KNOWLEDGE_BASE_ID=<string>
AZURE_QnA_BOT_RUNTIME_ENDPOINT=<string>
AZURE_QnA_BOT_QUERY_ENDPOINT_KEY=<string>
# ------------------------------------------ #
#                 ServiceNow Bot
# ------------------------------------------ #
SNOW_BOT_ENABLED=<string: "true" | "false">
SNOW_BOT_SKILLS=[<string>]
SNOW_SERVICE_URL=<string>
SNOW_USER_NAME=<string>
SNOW_USER_PASSWORD=<string>
SNOW_API_TOKEN=<string>
# ------------------------------------------ #
#            Conversation data logger
# ------------------------------------------ #
CONVERSATION_LOGGER_ENABLED=<string: "true" | "false">
DATA_INGEST_API_TOKEN=<string>
DATA_INGEST_URL=<string>
# ------------------------------------------ #
#                 WatsonAssistant Bot
# ------------------------------------------ #
WATSON_ASSISTANT_BOT_ENABLED=<string: "true" | "false">
WATSON_ASSISTANT_BOT_SKILLS=[<string>]
WATSON_ASSISTANT_BOT_API_KEY=<string>
WATSON_ASSISTANT_BOT_SERVICE_URL=<string>
WATSON_ASSISTANT_BOT_ASSISTANT_ID=<string>
# ------------------------------------------ #
#             Conversation Data Logger
# ------------------------------------------ #
CONVERSATION_LOGGER_ENABLED=<string: "true" | "false">
CONVERSATION_LOGGER_TYPE=<string: "postgres" | "rest_api">
CONVERSATION_LOGGER_POSTGRES_TENANT_ID=<string>
CONVERSATION_LOGGER_POSTGRES_TENANT_TIMEZONE=<string>
CONVERSATION_LOGGER_POSTGRES_DB_USER=<string>
CONVERSATION_LOGGER_POSTGRES_DB_PASSWORD=<string>
CONVERSATION_LOGGER_POSTGRES_DB_HOST=<string>
CONVERSATION_LOGGER_POSTGRES_CERT_BASE64=<string>
CONVERSATION_LOGGER_POSTGRES_DB_NAME=<string>
CONVERSATION_LOGGER_POSTGRES_DB_SCHEMA="ci_raw"
CONVERSATION_LOGGER_POSTGRES_DB_TABLE="raw_records"
